@model Mantex.ERP.Entities.Transaction

<div><strong>Ankomst</strong></div>
<div>@Html.DisplayFor(m => m.ShippingDate)</div>

<div><strong>Vikt</strong></div>
<div>@string.Format("{0:N0} ton", Model.ExpectedWeight)</div>

<div><strong>Material</strong></div>
<div>@(Model.MaterialType != null ? Model.MaterialType.Name : Model.MaterialTypeComment)</div>
