@model Mantex.ERP.Data.Batch
<div id="ConfirmFinishModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Avsluta Transaktionen</h4>
            </div>
            <div class="modal-body">
                <p>Endast en del av den beräknade vikten har skannats. Är du säker på att du vill avsluta transaktionen?</p>
                <p class="text-warning"><small>Avslutade transaktioner tas bort från transaktionslistan.</small></p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("FinishTransaction", "Loading", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", Model.TransactionId)
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ångra</button>
                    <button type="submit" class="btn btn-primary">Bekräfta</button>
                }
            </div>
        </div>
    </div>
</div>
