@model Mantex.LoadingControl.Models.LoadingModels.IndexModel
@{
    ViewBag.Title = "Lossning";
}
<br />
<div class="row">
    <div class="col-sm-6 col-md-5">
        @Html.Partial("_ControlPanel", Model)
    </div>
    <div class="col-sm-6 col-md-7">
        @Html.Partial("_BatchStatus", Model)
    </div>
</div>
