@model Mantex.LoadingControl.Models.LoadingModels.IndexModel
@{
    ViewBag.Title = "Lossning";
}
<br />
<div class="row">
    <div class="col-sm-6 col-md-4">
        @Html.Partial("ControlPanel", Model)
    </div>
    <div class="col-sm-6 col-md-8">
        @Html.Action("ProductionStatus", "Loading")
    </div>
</div>
