@model Mantex.ERP.Data.MachineStatusEnum
@{
    var panelClass = Model < Mantex.ERP.Data.MachineStatusEnum.Working
        ? "text-warning" : "text-success";
}
<div class="panel-body text-center @panelClass">
    @ModelAsText()
</div>

@functions{
    string ModelAsText()
    {
        switch (Model)
        {
            case Mantex.ERP.Data.MachineStatusEnum.Offline: return "FlowScanner är offline.";
            case Mantex.ERP.Data.MachineStatusEnum.Online: return "FlowScanner är online men inte startad.";
            case Mantex.ERP.Data.MachineStatusEnum.Working: return "FlowScanner väntar på transaktion.";
            case Mantex.ERP.Data.MachineStatusEnum.WaitingForEmptyBelt: return "Vänta på klartecken för lastning.";
            case Mantex.ERP.Data.MachineStatusEnum.Measuring: return "Klart att lasta material på bandet.";
            default:
                throw new NotImplementedException();
        }
    }
}