<div id="NewTransactionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Lägg till Transaktion</h4>
            </div>
            <div class="modal-body">
                <p>Modal ruta i Partial. Yadda yadda</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-primary">Spara</button>
            </div>
        </div>
    </div>
</div>
