@model int
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="@Model" aria-valuemin="0" aria-valuemax="100" style="width:@Model%">
        <span class="sr-only">@Model% Klar</span>
    </div>
</div>