@{
    ViewBag.Title = "Startsida";
}

<div class="jumbotron">
    <h1>Mantex Lossningskontroll</h1>
    <p class="lead">Klicka på "Lossning" i menyn för att påbörja en lossning av material.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Avslutade transaktioner</h3>
            </div>
            <div class="panel-body">
                @Html.Action("PreviousTransactions", "Home")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pågående transaktioner</h3>
            </div>
            <div class="panel-body">
                @Html.Action("CurrentTransactions", "Home")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kommande transaktioner</h3>
            </div>
            <div class="panel-body">
                @Html.Action("FutureTransactions", "Home")
            </div>
        </div>
    </div>
</div>
