@model Mantex.ERP.Data.Transaction
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Enligt Transaktion</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 hidden-sm"><strong>&nbsp;</strong></div>
            <div class="col-xs-6 hidden-sm">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Ankomst</strong></div>
            <div class="col-xs-6">@Html.DisplayFor(m => m.ShippingDate)</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Material</strong></div>
            <div class="col-xs-6">@Model.MaterialTypeId</div>
        </div>
        <div class="row">
            <div class="col-xs-6"><strong>Vikt</strong></div>
            <div class="col-xs-6">@string.Format("{0:N0} ton", Model.ExpectedWeight)</div>
        </div>
    </div>
</div>
