<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Mantex.LDAP.LdapRoleProvider" type="Mantex.LDAP.Configuration.LdapRoleProviderSection, Mantex.LDAP" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <Mantex.LDAP.LdapRoleProvider ConnectionString="LdapConnectionString" Username="maas" Password="R3b3ccaa" UsernameField="sAMAccountName">
    <mappings>
      <add name="Role1" SecurityGroups="Group1,Group2"/>
      <add name="Role2" SecurityGroups="Group1,Group3"/>
    </mappings>
  </Mantex.LDAP.LdapRoleProvider>
</configuration>