@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oväntat fel!</title>
</head>
<body>
    <hgroup>
        <h1>Fel.</h1>
        <h2>Ett fel har inträffat som gjorde det omöjligt att behandla din förfrågan.</h2>
    </hgroup>
</body>
</html>
